@model IEnumerable<Admin.App.Mvc.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Employee Table</h2>

<p>
   @Html.ActionLink("Add Employee", "New", "Employee", new { @class = "btn btn-primary" })
</p>

<table id="employees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Staff ID</th>
            <th>Surname</th>
            <th>Othername</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rec in Model)
            {
                <tr>
                    <td>@rec.StaffID</td>
                    <td>@rec.Surname</td>
                    <td><button class="btn-link .js-delete"></button></td>
                </tr>
            }

    </tbody>
</table>
